.container {
  margin: 0 auto;
  width: 1110px;
}

* {
  box-sizing: border-box;
}

.page {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.catalog {
  background-image: url(../img/catalog.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 220px;
  padding-bottom: 116px;
}
.catalog__title {
  margin-bottom: 110px;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 45px;
  row-gap: 45px;
}
.catalog__item {
  max-width: 340px;
}

.title {
  color: #515076;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
}

.product {
  background-color: #F7F7FA;
  padding: 25px;
  box-shadow: 2px 2px 10px 0 rgba(81, 80, 118, 0.1019607843);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product__img {
  display: block;
}
.product__tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a5a3b9;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 5px;
}
.product__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #515076;
  margin: 0;
}
.product__description {
  color: #515076;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.product__description p {
  margin-top: 5px;
  margin-bottom: 15px;
}
.product__mini-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  display: block;
  margin-bottom: 5px;
}
.product__compound {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  margin-bottom: 25px;
}
.product__compound li {
  margin: 5px 0;
  position: relative;
  padding-left: 15px;
}
.product__compound li:last-child {
  margin-bottom: 0;
}
.product__compound li:first-child {
  margin-top: 0;
}
.product__compound li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  border: 1px solid #515076;
  border-radius: 50%;
  margin-right: 8px;
  position: absolute;
  left: 0;
  top: 6px;
}
.product__price {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: center;
}
.product__price b {
  color: #515076;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.product__price span {
  font-weight: 400;
  color: #515076;
  font-size: 20px;
  line-height: 24px;
}