// элементов по сайту может быть тысячами, поэтому придумали mixin'ы

@mixin clear-list {
// mixin - шаблон со свойствами для реиспользования
// миксин с именем cleat-list (можно использовать любое имя, аналогично с именами class'ов)
    margin: 0;
    padding: 0;
    list-style: none;
}
// чтобы вставить миксин нужно в качестве свойства использовать: @ibclude clear-list