.title {
// создание селектора .title для h1
    color: #515076;
    // color - цвет шрифта
    font-size: 70px;
    // font-size - размер шрифта, значит 70px
    font-weight: 400;
    // font-weight - толщина шрифта, значит толщина 400px, как указано в макете fligma
    text-align: center;
    // text_algin - выровнить, значит выравниваем по центру
}